%h3
  %span FAQ
  %i.fa.fa-smile-o
%hr
%row
  %p
    %b Why this site?
    %br
    Built as a class project for
    %a{:href=>"/courses/3079"} CSCI 3112 HCCPD
    to learn rails.
    Stack: Rails + Postgres + Passenger + Nginx
%hr
%row
  %p
    %b Why is this site mostly B&W?
    %br
    Cos all the cool kids are doing that.
%hr
%row
  %p
    %b How far back does the data go?
    %br
    Back to 2006.
%hr
%row
  %p
    %b How do you calculate course average grade and average instructors rating?
    %br
    It's an average of course grades and instructors rating from 2006 to 2014.
%hr
%row
  %p
    %b Is there anything else like this?
    %br
    Absolutely. There are some smart folks who built a cool site called
    %a{:href=> "http://cufcq.com/"} cufcq.
    They have more data and perhaps cooler stuff.
    %br
    Honestly, had I known earlier, I would have chosen a different project.
%hr
%row
  %p
    This site is not affiliated with the University of Colorado in any way.
    We accept no liability for the content, its use and any consequences of
    actions taken on the basis of the information provided on this site.
